@import './src/assets/style/variable.scss';
@import './src/assets/style/mixin.scss';
@import './src/assets/style/reset.scss';
@import './src/assets/style/layout.scss';

html, body {
  background-color: $bg-light;
}

//상단 비쥬얼
.section-visual {
  height: 600px;
  padding-top: 64px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @include box-sizing;
}
.visual-content {
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: 140px;

  .visual-heading {
    margin-bottom: 30px;
    color: #fff;
    font-size: 20px;
    .title {
      margin-bottom: 10px;
      font-size: 50px;
      letter-spacing: 3px;
    }
  }

  .visual-search {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
    @include clearfix;
    > input {
      float: left;
      width: calc(100% - 120px);
      border: 0 none;
      border-radius: 3px 0 0 3px;
      font-size: 16px;
    }
    > button {
      width: 120px;
      height: 100%;
      border-radius: 0 3px 3px 0;
      background-color: #ff5722;
      color: #fff;
      font-size: 20px;
      > span {
        @include hide(text);
      }
    }
  }
}

//Promise
.section-promise {
  height: 120px;
  border: 1px solid $color-basic;
  border-top: 0 none;
  background-color: #fff;
  ul {
    overflow: hidden;
    height: 100%;
    > li {
      float: left;

      width: 33.3333%;
      height: 100%;
      padding: 10px;
      @include box-sizing;
      &:nth-child(2) {
        border-left: 1px solid $color-basic;
        border-right: 1px solid $color-basic;
      }
    }
  }
}

//섹션별 헤딩
.section-title {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  .title {
    margin-bottom:20px;
    font-size: 30px;
    font-weight: normal;
  }
  .sub-copy {
    color: #666;
    font-size: 15px;
  }
}

//리스트타입1
.section-list {
  @include clearfix;
  ul {
    > li {
      position: relative;
      float: left;
      width: calc(25% - 20px);
      padding-top: calc(25% - 20px);
      margin: 10px;
      border: 1px solid $color-basic;
      @include box-sizing;

      > a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
      }

      span {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

//인기여행지
.section-popular {
  width: 100%;
}
